<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>
	<!-- 加载指定位置的上下文配置文件 -->
	<servlet>
		<servlet-name>Spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 表示启动容器时初始化该servlet -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:Spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
	</description>
		<display-name>ReportOpServlet</display-name>
		<servlet-name>ReportOpServlet</servlet-name>
		<servlet-class>servlet.ReportOpServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
	</description>
		<display-name>AjaxCompanyCodeServlet</display-name>
		<servlet-name>AjaxCompanyCodeServlet</servlet-name>
		<servlet-class>servlet.AjaxCompanyCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
	</description>
		<display-name>ReportPlServlet</display-name>
		<servlet-name>ReportPlServlet</servlet-name>
		<servlet-class>servlet.ReportPlServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
	</description>
		<display-name>ReportBsServlet</display-name>
		<servlet-name>ReportBsServlet</servlet-name>
		<servlet-class>servlet.ReportBsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
	</description>
		<display-name>ReportAccountDetailServlet</display-name>
		<servlet-name>ReportAccountDetailServlet</servlet-name>
		<servlet-class>servlet.ReportAccountDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
	</description>
		<display-name>AjaxDeleteDataServlet</display-name>
		<servlet-name>AjaxDeleteDataServlet</servlet-name>
		<servlet-class>servlet.AjaxDeleteDataServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
	</description>
		<display-name>AjaxCreateDataServelt</display-name>
		<servlet-name>AjaxCreateDataServelt</servlet-name>
		<servlet-class>servlet.AjaxCreateDataServelt</servlet-class>
	</servlet>
	<servlet>
		<description>
	</description>
		<display-name>ReportPlperiodServelt</display-name>
		<servlet-name>ReportPlperiodServelt</servlet-name>
		<servlet-class>servlet.ReportPlperiodServelt</servlet-class>
	</servlet>
	<servlet>
		<description>
	</description>
		<display-name>ReporOpperiodServelt</display-name>
		<servlet-name>ReporOpperiodServelt</servlet-name>
		<servlet-class>servlet.ReporOpperiodServelt</servlet-class>
	</servlet>
	<servlet>
		<description>
	</description>
		<display-name>ReporBsperiodServelt</display-name>
		<servlet-name>ReporBsperiodServelt</servlet-name>
		<servlet-class>servlet.ReporBsperiodServelt</servlet-class>
	</servlet>
	<servlet>
		<description>
	</description>
		<display-name>ReportPlServletPeriod</display-name>
		<servlet-name>ReportPlServletPeriod</servlet-name>
		<servlet-class>servlet.ReportPlServletPeriod</servlet-class>
	</servlet>
	<servlet>
		<description>
	</description>
		<display-name>ReportOpServletPeriod</display-name>
		<servlet-name>ReportOpServletPeriod</servlet-name>
		<servlet-class>servlet.ReportOpServletPeriod</servlet-class>
	</servlet>
	<servlet>
		<description>
	</description>
		<display-name>ReportBsServletPeriod</display-name>
		<servlet-name>ReportBsServletPeriod</servlet-name>
		<servlet-class>servlet.ReportBsServletPeriod</servlet-class>
	</servlet>
	<servlet>
		<description>
	</description>
		<display-name>ReportAccountDetailServletPeriod</display-name>
		<servlet-name>ReportAccountDetailServletPeriod</servlet-name>
		<servlet-class>servlet.ReportAccountDetailServletPeriod</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AjaxExportIRTServelt</display-name>
		<servlet-name>AjaxExportIRTServelt</servlet-name>
		<servlet-class>servlet.AjaxExportIRTServelt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Spring</servlet-name>
		<!-- 表示哪些请求需要交给Spring Web MVC处理，/是用来定义默认servlet映射的。也可以如“*.html”表示拦截所有以html为扩展名的请求 -->
		<!-- 映射对应路径 -->
		<url-pattern>/Source</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportOpServlet</servlet-name>
		<url-pattern>/ReportOpServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxCompanyCodeServlet</servlet-name>
		<url-pattern>/AjaxCompanyCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportPlServlet</servlet-name>
		<url-pattern>/ReportPlServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportBsServlet</servlet-name>
		<url-pattern>/ReportBsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportAccountDetailServlet</servlet-name>
		<url-pattern>/ReportAccountDetailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxDeleteDataServlet</servlet-name>
		<url-pattern>/AjaxDeleteDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxCreateDataServelt</servlet-name>
		<url-pattern>/AjaxCreateDataServelt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportPlperiodServelt</servlet-name>
		<url-pattern>/ReportPlperiodServelt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporOpperiodServelt</servlet-name>
		<url-pattern>/ReporOpperiodServelt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporBsperiodServelt</servlet-name>
		<url-pattern>/ReporBsperiodServelt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportPlServletPeriod</servlet-name>
		<url-pattern>/ReportPlServletPeriod</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportOpServletPeriod</servlet-name>
		<url-pattern>/ReportOpServletPeriod</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportBsServletPeriod</servlet-name>
		<url-pattern>/ReportBsServletPeriod</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportAccountDetailServletPeriod</servlet-name>
		<url-pattern>/ReportAccountDetailServletPeriod</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxExportIRTServelt</servlet-name>
		<url-pattern>/AjaxExportIRTServelt</url-pattern>
	</servlet-mapping>
	<!-- 使用spring解决中文乱码 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>

	</filter>

	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>